
@font-face {
    font-family: "Roboto Mono";
    src: url("https://db.onlinewebfonts.com/t/011bf6877bf6908c6d43a19ccbb78154.eot");
    src: url("https://db.onlinewebfonts.com/t/011bf6877bf6908c6d43a19ccbb78154.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/011bf6877bf6908c6d43a19ccbb78154.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/011bf6877bf6908c6d43a19ccbb78154.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/011bf6877bf6908c6d43a19ccbb78154.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/011bf6877bf6908c6d43a19ccbb78154.svg#Roboto Mono")format("svg");
}

@media (400px <= width <= 600px) { 
    #background {
        margin-top: 10px;
        top: 30px;
    }
}

*{    
    margin: 0 auto;
    padding :0 ; 
    background-size: cover ;
    position:relative;
    height : 50%; 
    font-family: "Roboto Mono";
}


#fcc-img{
    left: 180px;
    width: 350px;
    height: 50px;

}


#survey-form { 
    position:relative;
    color: white;
    width: 50%;
   
    left:-50px;
    right: 230px;

    font-size:30px;
    font-family: "Roboto Mono";
}

@media (200px <= width <= 600px) {
    #survey-form{
        text-align: center;
        width: 350px;
        height: 250px;
        font-size: 15px;
        left :-20px ;
        top : -10px;
    }
    #fcc-img{ 
        align-items: center;
        width: 90%;
        height : 90%;
        top : -20px ;
        left: auto ; 
    }
}
 
body{
    background-image: url('https://c1.wallpaperflare.com/preview/311/34/429/colleague-unsplash-team-group-work.jpg');
}



@media(400px<=width<=600px){ 
    body { 
    }
}


#form1 #form {

    background-color: #0a0a23;
    color: black;
    height: 670px;
    overflow: scroll;
    width: 45%;
    top:-90px;
    right: -368px;
   
}
#section-1 { 
    border-radius: 15px;
    background-color:#1b1b32;
    color : white ;
    padding : 15px;
    width : 89%;
    right : -450px; 
    top : 30px;
    left: -0px;
    height : auto;
    overflow: auto;
}


#section-1 input { 
    background-color: #dfdfe2;
    border-radius: 15px;
    padding: 5px;
    border: none;
    display: flex;
    flex-direction: column;
    width : 300px;
    margin: -5px;
    top: -15px;
    right: -100px;
}

#section-1 label { 
    font-family: 'Roboto Mono';
    padding: 10px;

}
#section-1 input::placeholder{
    padding-left: 15px;
}

#section-1 #age{ 
    width: 19%;
}


@media (400px <= width <= 600px){
    #form{ 
        border-radius: 15px;
        padding-right: 285px;
        margin-left: -350px;
        margin-top: 150px;
    }
    #section-1 { 
        margin-right: -260px;
        padding-right: 250px;
    }
    #section-1 input {
        width: 70%;
    }
}


#section-2{ 
    border-radius: 15px;
    background-color:#1b1b32;
    color : white ;
    padding : 20px;
    width : 86%;
    right : -80px; 
    top : 30px;
    left: 9px;
    margin: 15px;
    height : auto;
    overflow: auto;
}
[type="radio"]{
    width : 30px;
}

[type="checkbox"]{ 
    width: 30px;
    right: 5px;
    margin-bottom: 15px;
}
ul { 
    list-style: none;
    right: -0px;
}



#role{ 
    background-color: #dfdfe2;
    border-radius: 15px;
    padding: 5px;
    border: none;
    display: flex;
    flex-direction: column;
    width : 20%;
    margin: -5px;
}


@media (400px <= width <= 600px) { 
    form #section-2  { 
        width: 430px; 
        left: 10px;
    }
}


#section-3 { 
   
    border-radius: 15px;
    background-color: #1b1b32;
    top: 15px ;
    color :white;
    top : 31px;
    width: 560px;
    /* right : -58px; */
    left: 5px;
    height: 37%;

}

#section-3 p { 
    padding : 15px;
    top : 15px; 
}

#section-3 #text { 
    margin-top:15px;
    margin-bottom: 15px; 
    right: 1px;
    border: none;
    width :95%;
    padding: 30px;
    padding-left: 21px;
    padding-right: 0px;
    height: 45%;
    border-radius: 15px;
}
#section-3 #submit { 
    width: 30%;
    height: 30%;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 30px;
    border:none;
    right:-205px;
}

@media (400px <= width <= 600px) { 
    #section-3 { 
        width: 480px;
        height: 50%;
        left : 25px;
        margin-bottom: 100px;
    }
    #section-3 #text{
        right : -1px; 
        width: 92%;
    }
    #section-3 #submit { 
        right:-180px;
    }
}


footer div { 
    display: flex;
    justify-content:center;
    background-color: #f5f6f7;
    height: 1%;
    background:#f5f6f7;
}
 
footer div i  { 
    background-color: transparent;
    height: 5%;
    width: 30px;
    margin : 15px;   
}
footer p {
    top: 80px;
    height: 20%;
    text-align: center; 
    color: #8e8e8e;
    background-color: #ffffff;
}

footer{
    top:580px;
    display: flex;
    height: 75%;
    flex-direction:column;
    background-color: #f5f6f7;
}

@media (300px<= height <=600px){ 
    footer { 
        top: 760px;
    }
    footer p { 
        width: auto;
        top: 50px;
    }
}